AddDefaultCharset utf-8
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.dinogavrik.ru
RewriteRule (.*) http://images-service.ru/$1 [R=301,L]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
